﻿@model OCComparer.Models.Offer

@{
    ViewData["Title"] = "Check your OC";
    Random r = new Random();
}

<h1>Input your car's info below :</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetOffers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <input asp-for="Car.Brand" value="" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" value="" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Price" class="control-label"></label>
                <input asp-for="Car.Price" value="" min="1" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" value="" min="1800" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Mileage" class="control-label"></label>
                <input asp-for="Car.Mileage" value="" min="1" class="form-control" />
                <span asp-validation-for="Car.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check offers" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h3>Example offer :</h3>

        <h4>Car :</h4>
        <h6>@Model.Car.Brand @Model.Car.Model</h6>
        <h6>Price : @Model.Car.Price</h6>
        <h6>Year : @Model.Car.Year</h6>
        <h6>Mileage : @Model.Car.Mileage</h6>

        <h4>Insurer :</h4>
        <img class="insurerImg" src="@Model.Insurer.LogoURL" />

        <h4><b>Price :</b></h4>
        <h6>@Model.Price; PLN (per year)</h6>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
