﻿@model IEnumerable<OCComparer.Models.Offer>

@{
    ViewData["Title"] = "Offers";
}

<h1>Here are the offers for your car :</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Insurer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="insurerImg" src="@item.Insurer.LogoURL" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price); PLN (per year)
            </td>
            <td>
                <a href="@item.Insurer.SiteURL" class="btn btn-danger">Visit site</a>
            </td>
        </tr>
}
    </tbody>
</table>
