﻿@model OCComparer.Models.Insurer

@{
    ViewData["Title"] = "Add new insurer";
}

<h1>Add new insurer :</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoURL" class="control-label"></label>
                <input asp-for="LogoURL" class="form-control" />
                <span asp-validation-for="LogoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteURL" class="control-label"></label>
                <input asp-for="SiteURL" class="form-control" />
                <span asp-validation-for="SiteURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formula" class="control-label"></label>
                <div class="legend">
                    <p>Legend :</p>
                    <p>Type these, to include them in price counting formula :</p>
                    <p>[Price] - car's average price (as of today)</p>
                    <p>[Year] - car's year of creation</p>
                    <p>[Mileage] - car's mileage</p>
                    <p>Example :  	[Price] / 100 + ([Year] - 1900)*1.2 + ([Mileage] / 1000)*1.1</p>
                </div>
                <input asp-for="Formula" class="form-control" />
                <span asp-validation-for="Formula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
