﻿@model OCComparer.Models.Insurer

@{
    ViewData["Title"] = "Delete insurer";
}

<h3>Are you sure you want to delete this insurer?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogoURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formula)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
