﻿@model OCComparer.Models.Insurer

@{
    ViewData["Title"] = "Insurer details";
}

<h1>Insurer details :</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogoURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Formula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
