﻿@model IEnumerable<OCComparer.Models.Insurer>

@{
    ViewData["Title"] = "Insurers";
}

<h1>List of insurers :</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add new Insurer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img class="insurerImg" src="@item.LogoURL" />
                @*@Html.DisplayFor(modelItem => item.LogoURL)*@
            </td>
            <td>
                <a href="@item.SiteURL">@Html.DisplayFor(modelItem => item.SiteURL)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
